@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    /*--font-mono: 'Rubik Mono One', monospace;*/
    --font-mono: 'Roboto Mono', monospace;
}