<div class="max-w-2xl mx-auto p-8 md:p-4">
  <div class="bg-card rounded-lg p-10 shadow-xl border border-border">
    <h1 class="text-4xl font-bold mb-6">Welcome back</h1>
    <p class="text-lg font-medium text-foreground font-mono tracking-wider mb-8"><%= @user.email_address %></p>
    
    <div>
      <%= render(ButtonComponent.new(
        text: "Sign out",
        color: :red,
        variant: :default,
        size: :md,
        href: login_path,
        method: :delete,
        )) %>
    </div>
  </div>
</div>